<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/vue/2.5.3-1/vue.js"></script>
<link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<link href="/webjars/jquery-easyui/1.5.21/css/easyui.css" rel="stylesheet"/>
<link href="/css/comm.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/userRank.js"></script>

<body>
<div id="tb" style="padding:10px">   <!--工具栏  不需要的时候注释掉-->
    <br/>
    <div style="margin: 10px 5px 5px 5px;">
        <!--<input class="btn btn-success magin_8 btn-small" id="to_add"  onclick="operation(1)" type="button" value="新增"/>
        <input class="btn btn-primary magin_8 btn-small"    id="to_view"  onclick="operation(2)"  type="button" value="查看"/>
        <input class="btn btn-info magin_8 btn-small"    id="to_update"  onclick="operation(3)"  type="button" value="修改"/>
        <input class="btn btn-danger magin_8 btn-small"  id="to_del"   onclick="operation(4)" type="button" value="删除"/>
        &lt;!&ndash;<div style="float: right;margin-right: 10%;">&ndash;&gt;
            &lt;!&ndash;<span>云搜索:</span>&ndash;&gt;
            &lt;!&ndash;<input id="productid" style="line-height:26px;border:1px solid #ccc; width: 300px;" />&ndash;&gt;
            &lt;!&ndash;<a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;-->
    </div>
</div>
<!--表格数据-->
<table id="table" style="font-size: 40px;"></table>
</body>
</html>