<!DOCTYPE html>
<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/vue/2.5.3-1/vue.js"></script>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="/webjars/jquery-easyui/1.5.21/css/easyui.css" rel="stylesheet"/>
    <link href="/css/comm.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/login.js"></script>
	<link href="/css/index_style.css" rel="stylesheet" />
</head>
<style>
    /* 表格高度  */
	.container,.col-md-12,.row{  margin: 0px;padding: 0px;width: 100%;  }
	.row{
		height: 80px;margin-bottom: 0px;
	}
	.navbar{margin-bottom: 0px;}
	.stroke{
		color: transparent;
		-webkit-text-stroke: 1px black;
		letter-spacing: 0.04em;
		background-color: #ebe5ff;
	}
</style>
<body>
    <div id="app" >

        <div class="container">
			<div class="row clearfix" >
				<div class="col-md-12 ">
					<h2 class="text-left stroke"  style="height: 60px;margin: 0px;color: #48b6ff;text-shadow: #a2f33e 2px 2px 2px" >
						<img src="/img/log.jpg" style="border-radius:50%; overflow:hidden;margin-left: 5px;" width="60px" height="60px" /><span style="padding-top: 15px;padding-left: 15px;"> 计算机程序设计竞赛在线训练系统</span>
					</h2>
				</div>
			</div>
			<div class="row" style="margin-top: 40px;">
				<div class="col-xs-3" ></div>
				<div class="col-xs-6" >
					<div class="input-group input-group-lg">
						<span class="input-group-addon">用户名:</span>
						<input type="text" class="form-control" v-model="user.username" :readonly="readonly"  />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3" ></div>
				<div class="col-xs-6" >
					<div class="input-group input-group-lg">
						<span class="input-group-addon" >密&nbsp;&nbsp;&nbsp;码:</span>
						<input type="text" class="form-control" v-model="user.password" :readonly="readonly"  />
					</div>
				</div>
			</div>

            <div class="row ">
                <div class="col-xs-5" >
                </div>
                <div class="col-xs-6" >
					<input type="button" class="btn btn-success btn-lg" id="login" value="登录" v-if="vis_login"   v-on:click="btn_login" />
					<input type="button" class="btn btn-success btn-lg" id="to_register"  value="注册"  v-if="vis_login"   v-on:click="btn_to_register"  />
					<input type="button" class="btn btn-success btn-lg" id="register"  value="注册"  v-if="vis_register"   v-on:click="btn_register"  />
					<input type="button" class="btn btn-success btn-lg" id="back"  value="返回"  v-if="vis_register"   v-on:click="btn_back"  />
				</div>
            </div>
        </div>
    </div>
</body>


<!--vue .js   数据绑定-->
<script th:inline="javascript">
    new Vue({
        el:"#app",
        data:{
            //从后台获取初始化数据
            vis_register:[[${vis_register}]],
            vis_login:[[${vis_login}]],
            user:[[${user}]]
        },
        methods:{
            btn_login :login,
            btn_to_register:function(){
                window.location.href="/hzuoj/toRegister";
            },
            btn_back:function() {
                window.location.href="/hzuoj/toLogin";
            },
            btn_register:register
        }
    })
</script>


</html>