<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/vue/2.5.3-1/vue.js"></script>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="/webjars/jquery-easyui/1.5.21/css/easyui.css" rel="stylesheet"/>
</head>
<style>
    .container,.col-md-12,.row{  margin: 0px;padding: 0px;width: 100%;  }
</style>
<body>
    <div class="container" >
        <div class="row clearfix"  >
            <div class="col-md-12 column">
                <div class="jumbotron" style="height: 500px;background-color: inherit">
                    <h1>
                        贺州学院"计算机竞赛"练习系统!
                    </h1>
                    <p>
                        数学与计算机学院是贺州学院规模较大、整体实力雄厚的院系之一。学院涵盖数学、计算机科学与技术2个一级学科，建有4个本科专业：数学与应用数学、计算机科学与技术、软件工程、网络工程，目前在校生1234人。其中基础数学是校重点学科、计算机应用技术是校重点建设学科。
                        <br/>目前，学院拥有符号计算与工程数据处理重点实验室（广西高校重点实验室培育基地）、计算机科学与技术实验教学中心等2个实验基地，建设了统计与大数据分析研究所等科研机构，设立了数学与应用数学教研室、应用统计教研室、网络工程教研室、软件工程教研室、综合教研室、专业技能实训教研室、计算机公共教研室、高等数学教研室等多个院内教学单位。</p>
                    <p style="text-align: center">
                        <a class="btn btn-primary btn-large" href="http://jsj.hzu.gx.cn/" target="_blank">了解更多</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>