<!DOCTYPE html>
<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-easyui/1.5.21/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/vue/2.5.3-1/vue.js"></script>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="/webjars/jquery-easyui/1.5.21/css/easyui.css" rel="stylesheet"/>
    <link href="/css/comm.css" rel="stylesheet"/>
    <script type="text/javascript"  src="/js/problem.js"></script>
	<script type="text/javascript"  src="/js/util/ueditor.config.js"></script>
	<script type="text/javascript" src="/js/util/ueditor.all.min.js"></script>
	<script type="text/javascript" src="/js/util/zh-cn.js"></script>
	<!--<script type="text/javascript"  src="/webjars/ueditor/1.4.3/ueditor.config.js"></script>
	<script type="text/javascript" src="/webjars/ueditor/1.4.3/ueditor.parse.js"></script>
	<script type="text/javascript" src="/webjars/ueditor/1.4.3/_examples/editor_api.js"></script>
	<script type="text/javascript" src="/webjars/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>-->
</head>
<style>
    /* 表格高度  */
    .row{
        height: 80px;margin-bottom: 0px;
    }
	body{
		background-color: #f7f6ff;
	}
	.bk{
		border-style:solid; border-width:2px; border-color:#baabff;border-radius:35px
	}
</style>
<body>
    <div id="app" style="margin-top: 50px;">

        <div class="container">
			<div class="row">
				<div class="col-xs-6" >
					<div class="input-group input-group-lg">
						<span class="input-group-addon" style="width:150px">标题:</span>
						<input type="text" class="form-control" v-model="problem.title" :readonly="readonly"  />
					</div>
				</div>
			</div>
			<div class="row"  v-if="vis_add || vis_save" >
				<div class="col-xs-6" >
					<div class="input-group input-group-lg">
						<span class="input-group-addon" style="width:150px">等级:</span>
						<input type="text" class="form-control"  v-model="problem.lv" :readonly="readonly"  />
					</div>
				</div>
			</div>
			<div class="row"  v-if="vis_add || vis_save" >
				<div class="col-xs-6" >
					<div class="input-group input-group-lg">
						<span class="input-group-addon " style="width:150px">标签:</span>
						<input type="text" class="form-control" v-model="problem.laber" :readonly="readonly"  />
					</div>
				</div>
			</div>
			<div class="row" v-if="readonly">
				<div class="col-xs-11" >
					<div class="panel panel-default bk">
						<div class="panel-heading">
							<h2 class="" style="font-size: 20px;">内容:</h2>
						</div>
						<div class="panel-body"  style="">
							<div id="view_content"  class="panel-body" style="padding:10px;font-size: 18px;"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row "  v-if="!readonly">
				<div class="col-xs-11" >
					<h2 class="label label-primary" style="width:150px;font-size: 20px;">内容:</h2>
					<textarea style="height: 500px;"  id="editor" >{{ problem.content }}</textarea>
				</div>
			</div>
			<div class="row "  v-if="readonly" >
				<div class="col-xs-11" >
					<br/><br/>
					<h2 class="label label-primary" style="width:150px;font-size: 20px;">提交代码:</h2>
					<textarea style="height: 500px;"  id="editor2" ></textarea>
				</div>
			</div>
			<div class="row "  v-if="readonly" >
				<div class="col-xs-3" >
				</div>
				<div class="col-xs-6" >
					<br/><br/>
					<h4>
						<input type="radio" id="c" value="2" v-model="language"  style="margin-left: 25px" />
						<label ><span class="label label-info">c</span></label>
						<input type="radio" id="cpp" value="1" v-model="language"  style="margin-left: 25px" />
						<label><span class="label label-info">c++</span></label>
						<input type="radio" id="java" value="0" v-model="language"  style="margin-left: 25px" />
						<label><span class="label label-info">java</span></label>
						<input type="radio" id="python" value="4" v-model="language" style="margin-left: 25px" />
						<label><span class="label label-info">python3</span></label>
					</h4>
					<br/>
				</div>
			</div>
            <div class="row ">
                <div class="col-xs-4" >
                </div>
                <div class="col-xs-6" >
					<br/><br/>
					<input type="button" class="btn btn-success btn-lg" id="add" value="新增" v-if="vis_add"    v-on:click="btn_add" />
					<input type="button" class="btn btn-success btn-lg" id="tjdm" value="提交代码" v-if="readonly"    v-on:click="btn_tjdm" />
                    <input type="button" class="btn btn-success btn-lg" id="save"  value="保存" v-if="vis_save"  v-on:click="btn_save"  />
                    <!--<input style="margin-left: 30px;" type="button" class="btn btn-success btn-lg" id="back"  value="返回"  v-on:click="btn_back"  />-->
					<br/><br/><br/><br/>
               	</div>
            </div>

        </div>
    </div>
</body>


<!--vue .js   数据绑定-->
<script th:inline="javascript">
    new Vue({
        el:"#app",
        data:{
            //从后台获取初始化数据
            readonly:[[${readonly}]],
            vis_add:[[${vis_add}]],
            vis_save:[[${vis_save}]],
            problem:[[${problem}]],
			bm:[[${bm}]],
            language:1
        },
        methods:{
            btn_add :add,
            btn_save:update,
            btn_back:to_index,
            btn_tjdm:tjdm
        }
    });
	$(function () {
        var readonly=[[${readonly}]];
        if(!readonly){
            var ue = UE.getEditor('editor');
		}else {
            var ue2 = UE.getEditor('editor2');
		}

        content=[[${problem.content}]];
        $("#view_content").append(content);
    })


</script>
</html>